include ../data/_goods

.section.section_sidebar
	.section__top
		.section__title Лучшее
		a.section__link(href="#") Показать все
	.section__bottom
		each good in goods
			.section__element-wrapper
				.section__element
					.section__element-top
						img.section__element-img(src=good.img)
					.section__element-middle
						span.section__element-title= good.title
						span.section__element-price= good.price
					.section__element-bottom
						a.section__element-link.section__element-link_basket(href=good.link) В корзину	
					a.section__element-link.section__element-link_view(href=good.link)
